@import 'utilities.css';
body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}
header{
    background-color: #161616;
    clip-path:polygon(0 0, 100% 0,100% 100% ,75% 90%,0 100%)
}
.container{
    max-width: 75%;
    padding:0 15px;
    margin:0 auto;
}
header nav .left a{
    color:white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all .3s ease;
}
header nav .left a:hover{
    color:#3DCFD3;
}
header nav{
    padding:1.5rem 0;
}

.Intro .left img{
    width:250px;
    margin-bottom: 75px;
}
.Intro .right{
    color:white;
    margin:0 2rem;
    padding: 3rem 0 7rem 0;
}
.Intro .right h5{
    font-size: 1.3rem;
    color:#3DCFD3;
    margin-bottom: 0.5rem;
}
.Intro .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
}
.Intro .right p{
    line-height: 1.5;
    margin: 1rem 0;
}
.Intro .right .info2 p{
    line-height: .5;
    margin-bottom: 1.5rem;
}
.Intro .right .info2 p a{
    text-decoration: none;
    color:#3DCFD3;
}
#Favourite_Food .container h2{
    text-align:center;
    font-weight: 2rem;
    font-size: 40px;
}
/* .img-sec{
    max-width: 960px;
    margin:0 auto;
    padding:0 2%
} */
.grid{
    margin:20px 0 0  0;
    padding:0;
    list-style:none;
    display: block;
    text-align: center;
    width:100%
}
.grid li{
    width:320px;
    height:328px;
    display:inline-block;
    margin:20px;  
}
.img_box{
    width:100%;
    height:100%;
    position:relative;
    border-radius: 10px;
    transition:0.3s ease-in-out;
    padding-top: 25%; 
}
.img_box h3{
    font-size: 2.5rem;
    font-weight: bolder;
}
.img_box p{
    font-size: 1rem;
    font-weight: bolder;
}
.img_box:hover{
    transform:scale(1.05)
}
.img_1{
    background:url(Burger.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(16, 162, 207, 0.520);
    color:white;
}
.img_2{
    background:url(icecream.jpg);
    color:#161616;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(16, 162, 207, 0.520);
}
.img_3{
    background:url(coffee.jpg);
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(16, 162, 207, 0.520);
}
.img_4{
    background:url(Food-Pizza.jpg);
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(16, 162, 207, 0.520);
}
.skills{
    list-style:none;
    background-color: #161616;
    width:100%;
    margin:70px auto;
    padding:30px ;
    color:white;
}
.skills .container h2{
    text-align:center;
    font-weight: 2rem;
    font-size: 40px;
}
.skills li{
    margin:20px 0;
}
.bar{
    background-color:#161616;
    display: block;
    height:3px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:3px;
    overflow:hidden;
    box-shadow: 0 0 10px #3DCFD3;
}
.bar span{
    height:2px;
    float:left;
    background-color:#3DCFD3;
}
.HTML{
    width:90%;
    animation:html 2s;
}
.CSS{
    width:69%;
    animation:css 2s;
}
.JavaScript{
    width:45%;
    animation:js 2s;
}
.ReactJS{
    width:50%;
    animation:rjs 2s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:69%;
    }
}
@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width:45%;
    }
}
@keyframes rjs{
    0%{
        width:0%;
    }
    100%{
        width:50%;
    }
}
.More_About_Me h2{
    text-align:center;
    font-size: 40px;
}
.details{
    margin:40px 0;
    padding:1rem;
    border:1px solid #3DCFD3;
    border-radius: 4px;
    transition:all .3s ease-in-out;
}
.details summary{
    cursor:pointer;
    font-weight: bolder;
}
details[open] summary{
    padding-bottom:1rem;
}
.More_About_Me details[open]{
    background-color:#161616;
    color:white;
}
.footer-content{
    background-color: #161616;
    color:white;
    
}
.footer-content h3{
    padding-top: 2rem;
    text-align:center;
    font-weight: 2rem;
    font-size: 35px;
}
.footer-content .container p{
    font-size:19px;
}
.footer-content .container p a{
    text-decoration: none;
    font-weight: bolder;
    color:white;
}
.footer-content .social a{
    color:white;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 18px;
}
.social{
    list-style:none;
    justify-content: center;
    padding-bottom: 3rem;
}